<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>League of Cool Kickball Professionals (LACKP)</title>
    </head>

    <body>
      <h1>League of Cool Kickball Professionals (LACKP)</h1>

      <h2>Teams</h2>
        <ul>
          <% @teams.each do |team, anchor| %>
            <li><%= team %></a></li>
          <% end %>
        </ul>
    </body>
  </html>

