<% require 'csv' %>

<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Jetson Jets</title>
    </head>

    <body>
      <h1>Jetson Jets</h1>
        <% CSV.foreach("views/lackp_starting_rosters.csv", headers: true) do |row| %>
          <% if row[3] == "Jetson Jets" %>
            <p><%= "#{row[0]} #{row[1]} #{row[2]}" %></p>
          <% end %>
        <% end %>


    </body>
  </html>
